@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.bg-svg {
  background-image: url("./assets/barrel.svg");
  background-size: center;
  background-position: 0 0, 10% 5%, 22% 45%, 45% 56%, 60% 60%, 75% 3%, 87% 88%,
    91% 3%;
}
